name: CD - Deploy to EC2

on:
  workflow_dispatch:
    inputs:
      image_tag:
        description: 'Docker image tag to deploy'
        required: true

jobs:

  deploy:

    runs-on: ubuntu-latest

    steps:

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |

            sudo docker stop lablist || true
            sudo docker rm lablist || true

            sudo docker pull fede0104/lablist:${{ github.event.inputs.image_tag }}

            sudo docker run -d \
              -p 8080:8080 \
              --name lablist \
              fede0104/lablist:${{ github.event.inputs.image_tag }}